.App {
  text-align: left;
  /* padding: 30px; */
  /* border: solid 1px blue; */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.img:hover .cornerLink {
  opacity: 0.8;
}

.App-link {
  /* color: #61dafb; */
  color: white;
}

#some-tx-tag {
  color: white;
}
